<app-header></app-header>
<ion-content>

  <ion-select aria-label="asignatura" interface="popover" placeholder="Selecciona una asignatura" (ionChange)="onAsignaturaChange($event)">
    <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura">
      {{ asignatura.nombre }}
    </ion-select-option>
  </ion-select>

  <div *ngIf="selectedAsignatura">
    <p>Código: {{ selectedAsignatura.codigo }}</p>
    <p>Fecha: {{ selectedAsignatura.fecha }}</p>
    <p>Hora: {{ selectedAsignatura.hora }}</p>

    <div class="qr-container">
      <qrcode *ngIf="showQR" [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
  <div class="button-container">
    <ion-button (click)="generateQR()">Generar QR</ion-button>
  </div>
  </div>

</ion-content>
<app-footer></app-footer>
