<ion-content>

  <app-header></app-header>

  <ion-list>

    <ion-item>
      <ion-label>Programación de Aplicaciones Móviles</ion-label>
      <ion-button [routerLink]="['/detalle-asignatura-docente']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Arquitectura de Software</ion-label>
      <ion-button [routerLink]="['/detalle-asignatura-docente']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Lenguajes de Programación</ion-label>
      <ion-button [routerLink]="['/detalle-asignatura-docente']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Desarrollo de Software</ion-label>
      <ion-button [routerLink]="['/detalle-asignatura-docente']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Calidad de Software</ion-label>
      <ion-button [routerLink]="['/detalle-asignatura-docente']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Programación Web</ion-label>
      <ion-button [routerLink]="['/detalle-asignatura-docente']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
    </ion-item>

  </ion-list>

  <app-footer></app-footer>

</ion-content>
