.header{
  background-color: darkcyan;
  padding: 10px;
}

.header p{
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
}



