<ion-content>

  <app-header></app-header>

  <ion-item>
    <ion-label>Arquitectura de Software</ion-label>
    <ion-button [routerLink]="['/detalle-asignatura-alumno']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Estadística Descriptiva</ion-label>
    <ion-button [routerLink]="['/detalle-asignatura-alumno']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Desarrollo de Software</ion-label>
    <ion-button [routerLink]="['/detalle-asignatura-alumno']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Ética Profesional</ion-label>
    <ion-button [routerLink]="['/detalle-asignatura-alumno']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Calidad de Software</ion-label>
    <ion-button [routerLink]="['/detalle-asignatura-alumno']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Programación Web</ion-label>
    <ion-button [routerLink]="['/detalle-asignatura-alumno']" slot="end" color="primary">Ingresar a Asignatura</ion-button>
  </ion-item>

  <app-footer></app-footer>

</ion-content>
