.container-div {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

h4 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #515151; /* Color del texto */
  margin: 5px 0; /* Espaciado superior e inferior */
  margin-top: 25px;
}

p {
  font-family: 'Arial', sans-serif; /* Cambia a tu tipo de letra preferido */
  color: #777777; /* Color del texto */
  margin: 1px 0; /* Espaciado superior e inferior */
}


.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

ion-input {
  width: 300px;
  color: #777777; /* Color del texto */
}

.button-container {
  display: flex; /* Usar flexbox para centrar el botón */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-top: 65px; /* Espacio por encima del botón */

  ion-button {
    width: 270px;
    height: 40px;
    --color: #ffffff;
    --background: transparent; /* Fondo transparente */
    --border: none; /* Sin borde */
    position: relative; /* Para posicionar el pseudo-elemento */
    overflow: hidden; /* Para ocultar el pseudo-elemento que sobresale */
    border-radius: 100px; /* Bordes redondeados */
    font-family: 'Arial', sans-serif; /* Cambia a tu tipo de letra preferido */

    background: linear-gradient(45deg, #CB6CE6, #15BEC8);

    box-shadow: 0 4px 15px rgba(203, 108, 230, 0.5);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(203, 108, 230, 0.7);
    }
  }
}


.register-container {
  display: flex;
  justify-content: center;

}

ion-item {
  width: 320px;
  justify-content: center;
  color: #777777;
}

