<div class="footer">

  <p>
    footer works!
  </p>

  <p><a [routerLink]="['/']">Inicio Sesion</a></p>
  <p><a [routerLink]="['/principal-alumno']">Principal Alumno</a></p>
  <p><a [routerLink]="['/principal-docente']">Principal Docente</a></p>
  <p><a [routerLink]="['/detalle-asignatura-alumno']">Detalle Asignatura Alumno</a></p>
  <p><a [routerLink]="['/detalle-asignatura-docente']">Detalle Asignatura Docente</a></p>
  <p><a [routerLink]="['/restablecer-contrasena']">Restablecer Contraseña</a></p>

</div>
