<div class="footer">

  <p><a [routerLink]="['/']">Home</a></p>

  @if (usuario) {
    <p><a [routerLink]="['/cerrar-sesion']">Logout</a></p>
    @if (usuarioCompleto.role === 'Docente') {
      <p><a [routerLink]="['/principal-docente']">Docente</a></p>
      <p><a [routerLink]="['/detalle-asignatura-docente']">Detalle Docente</a></p>
    }
    @else {
      <p><a [routerLink]="['/principal-alumno']">Alumno</a></p>
      <p><a [routerLink]="['/detalle-asignatura-alumno']">Detalle Alumno</a></p>
    }
  }
  @else {
    <p><a [routerLink]="['/inicio-sesion']">Login</a></p>
  }

  <p>Copyright © 2024 | Axel Olea B.</p>

</div>


