.footer
{
  padding: 10px;
  background: linear-gradient(45deg, #CB6CE6, #15BEC8);
}

.footer a{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: solid transparent;
  align-items: center;
  text-align: center;
  transition: color 0.3s ease;
  padding: 0 1px;
  cursor: pointer;

  &:hover{
    color: lightgreen;
  }
}




